# Environment
PORT=3000
ENVIRONMENT=LOCAL
LOCAL_FRONTEND_HOST=localhost
LOCAL_FRONTEND_PORT=5173
PUBLIC_FRONTEND_URL="https://nanomatter.kaoshome.dev"

# Logging
ENABLE_SQL_LOGGING=false
ENABLE_FILE_LOGGING=false